@import "~@legify/web-ui-elements/assets/styles/legify-global-styles";
@import "~@legify-features/web-nftf/assets/styles/legify-nftf-styles";

html,
body {
  height: 100%;
  font-size: 16px;
  background-color: #fafafa;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
